# -*- python -*-
# ex: set syntax=python:

from buildbot.plugins import *

# This is a sample buildmaster config file. It must be installed as
# 'master.cfg' in your buildmaster's base directory.

# This is the dictionary that the buildmaster pays attention to. We also use
# a shorter alias to save typing.
c = BuildmasterConfig = {}

####### BUILDSLAVES

# The 'slaves' list defines the set of recognized buildslaves. Each element is
# a BuildSlave object, specifying a unique slave name and password.  The same
# slave name and password must be configured on the slave.
c['slaves'] = [
    buildslave.BuildSlave("Yokota01", "pass"),
    buildslave.BuildSlave("Tokyo", "pass"),
    buildslave.BuildSlave("Tohoku", "pass"),
    buildslave.BuildSlave("Kyoto", "pass"),
    buildslave.BuildSlave("Nagoya", "pass"),
    buildslave.BuildSlave("Narumi", "pass"),
    buildslave.BuildSlave("Yasuoka", "pass"),
    buildslave.BuildSlave("Rio02", "pass"),
    buildslave.BuildSlave("CBRC", "pass"),
    buildslave.BuildSlave("MIC", "pass"),
    buildslave.BuildSlave("Shaheen2", "pass"),
    buildslave.BuildSlave("Leibniz", "pass")
]

# 'protocols' contains information about protocols which master will use for
# communicating with slaves.
# You must define at least 'port' option that slaves could connect to your master
# with this protocol.
# 'port' must match the value configured into the buildslaves (with their
# --master option)
c['protocols'] = {'pb': {'port': 9989}}

####### CHANGESOURCES

# the 'change_source' setting tells the buildmaster how it should find out
# about source code changes.  Here we point to the buildbot clone of exafmm.

c['change_source'] = []
c['change_source'].append(changes.GitPoller(
    'github:exafmm/exafmm.git',
    workdir='gitpoller-workdir',
    branches=['develop','master','md','sc16'],
    pollinterval=10)
)

####### SCHEDULERS

# Configure the Schedulers, which decide how to react to incoming changes.  In this
# case, just kick off a 'runtests' build

c['schedulers'] = []
c['schedulers'].append(schedulers.AnyBranchScheduler(
    name="all",
    treeStableTimer=None,
    builderNames=["Yokota01","Tokyo","Kyoto","Narumi","Yasuoka","Rio02","CBRC","MIC","Shaheen2","Leibniz"])
)
c['schedulers'].append(schedulers.ForceScheduler(
    name="force",
    builderNames=["Yokota01","Tokyo","Kyoto","Narumi","Yasuoka","Rio02","CBRC","MIC","Shaheen2","Leibniz"])
)
c['schedulers'].append(schedulers.Try_Userpass(
    name='try',
    builderNames=["Yokota01","Tokyo","Kyoto","Narumi","Yasuoka","Rio02","CBRC","MIC","Shaheen2","Leibniz"],
    port=9989,
    userpass=[('exafmm','exafmm')])
)

####### BUILDERS

# The 'builders' list defines the Builders, which tell Buildbot how to perform a build:
# what steps, and which slaves can execute them.  Note that any particular build will
# only take place on one slave.

env = steps.SetPropertiesFromEnv(variables=["HOME"])
update = steps.Git(repourl='https://github.com/exafmm/exafmm.git', mode='incremental')

c_mpi_host = steps.ShellCommand(name="configure",command=["./configure","--enable-assert","--enable-mpi","--disable-simd","--host=host","FCFLAGS="])
c_32_omp_avx_tbb = steps.ShellCommand(name="configure",command=["./configure","--enable-assert","--enable-float","--enable-openmp","--enable-avx","--with-tbb"])
c_32_omp_mic_tbb = steps.ShellCommand(name="configure",command=["./configure","--enable-assert","--enable-float","--enable-openmp","--enable-mic","--with-tbb"])
c_32_mpi_omp_avx = steps.ShellCommand(name="configure",command=["./configure","--enable-assert","--enable-float","--enable-mpi","--enable-openmp","--enable-avx"])
c_32_mpi_omp_avx_tbb = steps.ShellCommand(name="configure",command=["./configure","--enable-assert","--enable-float","--enable-mpi","--enable-openmp","--enable-avx","--with-tbb"])

make = steps.ShellCommand(name="make",command=["make"])

run_lapl_cart = steps.ShellCommand(name="run laplace_cartesian",command=["./examples/laplace_cartesian","-Dmovx","-n","100000"])
sub_lapl_cart = steps.ShellCommand(name="submit laplace_cartesian",command=["bash",util.Interpolate("%(prop:HOME)s/sub.sh"),"./examples/laplace_cartesian","-Dmovx","-n","100000"])

run_lapl_sphe = steps.ShellCommand(name="run laplace_spherical",command=["./examples/laplace_spherical","-Dmovx","-n","100000"])
sub_lapl_sphe = steps.ShellCommand(name="submit laplace_spherical",command=["bash",util.Interpolate("%(prop:HOME)s/sub.sh"),"./examples/laplace_spherical","-Dmovx","-n","100000"])

run_helm_sphe = steps.ShellCommand(name="run helmholtz_spherical",command=["./examples/helmholtz_spherical","-v","-n","100000"])
sub_helm_sphe = steps.ShellCommand(name="submit helmholtz_spherical",command=["bash",util.Interpolate("%(prop:HOME)s/sub.sh"),"./examples/helmholtz_spherical","-v","-n","100000"])

run_lapl_cart_mpi = steps.ShellCommand(name="run laplace_cartesian_mpi",command=["mpirun","-n","2","./examples/laplace_cartesian_mpi","-Dmovx","-n","100000"])
sub_lapl_cart_mpi = steps.ShellCommand(name="submit laplace_cartesian_mpi",command=["bash",util.Interpolate("%(prop:HOME)s/sub.sh"),"./examples/laplace_cartesian_mpi","-Dmovx","-n","100000"])

run_charmm = steps.ShellCommand(name="run charmm",command=["./wrappers/charmm_mpi","wrappers/water_16.fmm","water.out","1"])
sub_charmm = steps.ShellCommand(name="submit charmm",command=["bash",util.Interpolate("%(prop:HOME)s/sub.sh"),"./wrappers/charmm_mpi","wrappers/water_16.fmm","water.out","1"])

f_yokota01 = util.BuildFactory([env,update,c_32_mpi_omp_avx_tbb,make,run_lapl_cart,run_lapl_sphe,run_helm_sphe,run_lapl_cart_mpi,run_charmm])
f_tokyo = util.BuildFactory([env,update,c_mpi_host,make,sub_lapl_cart,sub_lapl_cart_mpi,sub_charmm])
f_kyoto = util.BuildFactory([env,update,c_32_mpi_omp_avx_tbb,make,sub_lapl_cart,sub_lapl_cart_mpi,sub_charmm])
f_narumi = util.BuildFactory([env,update,c_32_mpi_omp_avx_tbb,make,run_lapl_cart,run_lapl_cart_mpi,run_charmm])
f_yasuoka = util.BuildFactory([env,update,c_32_mpi_omp_avx_tbb,make,run_lapl_cart,run_lapl_cart_mpi,run_charmm])
f_stelletto = util.BuildFactory([env,update,c_32_mpi_omp_avx_tbb,make,run_lapl_cart,run_lapl_cart_mpi,run_charmm])
f_cbrc = util.BuildFactory([env,update,c_32_omp_avx_tbb,make,run_lapl_cart])
f_mic = util.BuildFactory([env,update,c_32_omp_mic_tbb,make,sub_lapl_cart])
f_shaheen2 = util.BuildFactory([env,update,c_32_mpi_omp_avx_tbb,make,sub_lapl_cart,sub_lapl_cart_mpi,sub_charmm])
f_leibniz = util.BuildFactory([env,update,c_32_omp_avx_tbb,make,run_lapl_cart])

c['builders'] = []
c['builders'].append(util.BuilderConfig(name="Yokota01",slavenames=["Yokota01"],factory=f_yokota01))
c['builders'].append(util.BuilderConfig(name="Tokyo",slavenames=["Tokyo"],factory=f_tokyo))
c['builders'].append(util.BuilderConfig(name="Kyoto",slavenames=["Kyoto"],factory=f_kyoto))
c['builders'].append(util.BuilderConfig(name="Narumi",slavenames=["Narumi"],factory=f_narumi))
c['builders'].append(util.BuilderConfig(name="Yasuoka",slavenames=["Yasuoka"],factory=f_yasuoka))
c['builders'].append(util.BuilderConfig(name="Rio02",slavenames=["Rio02"],factory=f_stelletto))
c['builders'].append(util.BuilderConfig(name="CBRC",slavenames=["CBRC"],factory=f_cbrc))
c['builders'].append(util.BuilderConfig(name="MIC",slavenames=["MIC"],factory=f_mic))
c['builders'].append(util.BuilderConfig(name="Shaheen2",slavenames=["Shaheen2"],factory=f_shaheen2))
c['builders'].append(util.BuilderConfig(name="Leibniz",slavenames=["Leibniz"],factory=f_leibniz))

####### STATUS TARGETS

# 'status' is a list of Status Targets. The results of each build will be
# pushed to these targets. buildbot/status/*.py has a variety to choose from,
# including web pages, email senders, and IRC bots.

c['status'] = []

from buildbot.status import html
from buildbot.status.web import authz, auth

authz_cfg=authz.Authz(
    # change any of these to True to enable; see the manual for more
    # options
    auth=auth.BasicAuth([("exafmm","exafmm")]),
    gracefulShutdown = False,
    forceBuild = 'auth', # use this to test your slave once it is set up
    forceAllBuilds = 'auth',  # ..or this
    pingBuilder = False,
    stopBuild = False,
    stopAllBuilds = False,
    cancelPendingBuild = False,
)
c['status'].append(html.WebStatus(http_port=8010, authz=authz_cfg))

####### PROJECT IDENTITY

# the 'title' string will appear at the top of this buildbot
# installation's html.WebStatus home page (linked to the
# 'titleURL') and is embedded in the title of the waterfall HTML page.

c['title'] = "exaFMM"
c['titleURL'] = "https://github.com/exafmm/exafmm"

# the 'buildbotURL' string should point to the location where the buildbot's
# internal web server (usually the html.WebStatus page) is visible. This
# typically uses the port number set in the Waterfall 'status' entry, but
# with an externally-visible host name which the buildbot cannot figure out
# without some help.

c['buildbotURL'] = "http://localhost:8010/"

####### DB URL

c['db'] = {
    # This specifies what database buildbot uses to store its state.  You can leave
    # this at its default for all but the largest installations.
    'db_url' : "sqlite:///state.sqlite",
}
